html,body{
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	font-family: Roboto,Arial,sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #2c2c2c;
}
a, img {
    border:none;
    outline:none
}
ul{
	list-style-type: none;
	padding: 0;
	border: none;
	margin: 0px;
}
fieldset{
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: none;
}
#header{
	width: 100%;
	height: 70px;
	background-color: #eeeeee;
}

#umass-logo{
	vertical-align: middle;
	padding: 3px;
	padding-left: 10px;
	height: 20px;
	width: 100%;
	background-color: #881c1c;
}
#trans-logo{
	vertical-align: middle;
	padding: 3px;
	padding-left: 10px;
	height: 40px;
	width: 100%;
	background-color: #eeeeee;
}

#main-content{
	width:100%;
	height:calc(100% - 70px);
	position: absolute;
	top:70px;
	bottom: 0px;
	overflow: hidden;
}

/*Control panel stuff*/
#scrollable-cell{
	max-height: calc(100% - 30px);
    overflow-y: scroll;
}

#control-cell{
	background-color: white;
	position: absolute;
	z-index: 900;
	height:100%;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
}
#control-cell > div{
	padding: 15px;
	padding-left:40px;
}

#control-panel{
	white-space: nowrap;
	position: relative;
}

/*Map canvas stuff*/
#map-canvas{
	overflow:hidden;
	height: calc(100% - 70px);
	border: 1px solid grey;
}

/*Direction panel stuff*/
#directions-table{
	border-collapse: collapse;
	width: 100%;
	height:100%;
	white-space: nowrap;
}
#directions-show{
	white-space: normal;
}

/*legend*/
.layer-icon{
	margin-top:-2px;
	position: absolute;
	right: 0px;
}
.layer-label{
	cursor:pointer;
	padding-top:2px;
	padding-bottom:2px;
	margin-right: 35px;
	display: inline-block;
	vertical-align: top;
}

/*Others*/
.control{
	margin-left: 10px;
}
.childCheckBox{
	margin-left: 20px;
}
.parentCheckBox{
	margin-left: 0px;
}
.toggle{
    cursor:pointer;
}
.google-map-control{
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	font-size: 13px;
	padding: 5px;
}

path{

}
path:hover{
    cursor:pointer;
	fill-opacity:0.6;
	stroke-opacity:0.6;
	fill:white;
}
#defs{
	display: none;
}
.center{
	display: none;
}

.transit {
    display:none;
}
.transit + label {
    float:left;
    cursor:pointer;
	width:24.5%;
    height:3em;
    text-align: center;
	margin-right:-1px;
	background-color:#EFEFEF;
	border:1px solid #999;
	overflow:hidden;
	font-size: initial;
}
.transit + label img {
	height:100%;
}
.transit:checked + label {
	background-color:#99CCFF;
	color:#fff;
}
input{	
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* prevents scrollbars on infowindows */
.gm-style-iw {
    /*overflow:hidden!important;
    white-space: nowrap;*/
}
#print-map, #print-directions{
	display: none;
}
.disclaimer{
	background-color: #fff1a8;
	padding: 5px 6px;
	border-style: hidden;
	border-radius: 4px;
}
.link-box{
	padding-top: 0px !important;
	white-space:normal;
	margin-top: 10px;
}
#icon-scale-div{
	margin-top: 3px;
	margin-bottom: 63px;
}


#buttons{
	position: absolute;
	z-index: 900;
}


#layer-toggle{
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(icons/layers.png) -1px -1px;
}
#layer-toggle:active{
    background: url(icons/layers.png) -64px -1px;
}

#directions-toggle{
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -74px -65px;
}
#directions-toggle:active{
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -138px -65px;
}

#where-am-i{
	height: 60px;
	width: 60px;
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -74px 0;
    margin-right:7px;
}
#where-am-i:active{
	height: 60px;
	width: 60px;
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -202px 0;
    margin-right:13px;
}

#close-control{
	padding: 0px;
	position: absolute;
	top: 4px;
	left: 2px;
	z-index: 999;
	height: 32px;
	width: 32px;
    background: url(icons/back.png);
}

.icon-scale {
    display:none;
}
.icon-scale + label {
    float:left;
    cursor:pointer;
    height:3em;
	width:32.8%;
	margin-right:-1px;
	background-color:#EFEFEF;
	border:1px solid #999;
	overflow:hidden;
    display:inline-block;
	font-size: initial;
}
.icon-scale:checked + label {
	background-color:#99CCFF;
	color:#fff;
}