html,body{
	height:100%;
	margin:0;
	font-family: Roboto,Arial,sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #2c2c2c;
}
a, img {
    border:none;
    outline:none
}
ul{
	list-style-type: none;
	padding: 0;
	border: none;
	margin: none;
}
fieldset{
	list-style-type: none;
	padding: 0;
	border: none;
}
#main-content{
}


/*Map canvas stuff*/
#map-canvas{
	height: 100%;
	width: 100%;
	border: none;
	/*page-break-before:always;*/
}

path{
	stroke:none;
}
#defs{
	fill-opacity:0;
	stroke-opacity:0;
}

.disclaimer{
	background-color: #fff1a8;
	padding: 5px 6px;
	border-style: hidden;
	border-radius: 4px;
}
#header, #control-cell, #control-panel, #directions-show, .center, button, .link-box, #buttons, #where-am-i, #close-control{
	display: none !important;
}