html,body{
	height:100%;
	margin:0;
	overflow:hidden;
	font-family: Roboto,Arial,sans-serif;
	font-weight: 300;
	font-size: 10pt;
	color: #2c2c2c;
}
a, img {
    border:none;
    outline:none
}
ul{
	list-style-type: none;
	padding: 0;
	border: none;
	margin: 0px;
}
fieldset{
	margin: 0;
	list-style-type: none;
	padding: 0;
	border: none;
}
#header{
	width: 100%;
	height: 70px;
}

#umass-logo{
	vertical-align: middle;
	padding: 3px;
	padding-left: 10px;
	height: 20px;
	width: 100%;
	background-color: #881c1c;
}
#trans-logo{
	vertical-align: middle;
	padding: 3px;
	padding-left: 10px;
	height: 40px;
	width: 100%;
	background-color: #eeeeee;
}

#main-content{
	width:100%;
	height:calc(100% - 70px);
	position: absolute;
	top:70px;
	bottom: 0px;
	overflow: hidden;
}

/*Control panel stuff*/
#scrollable-cell{
	max-height: calc(100% - 30px);
    overflow-y: scroll;
    position: relative;
}

#control-cell{
	background-color: white;
	z-index: 800;
	position: absolute;
	top: 47px;
	/*left: 10px;*/
	right: 72px;
	height:calc(100% - 68px);
	border: 1px solid grey;
	border-radius: 2px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	float:left;
}
#control-cell > div{
	padding: 15px;
	padding-right: 35px;
}

#control-panel, #directions-panel{
	white-space: nowrap;
	position: relative;
}

/*Map canvas stuff*/
#map-canvas{
	overflow:hidden;
	height: calc(100% - 70px);
	border: 1px solid grey;
}

/*Direction panel stuff*/
#directions-table{
	border-collapse: collapse;
	height:100%;
	white-space: nowrap;
	max-width:300px;
}
#directions-show{
	white-space: normal;
}

/*legend*/
.layer-icon{
	margin-top:-2px;
	position: absolute;
	right: 0px;
}
.layer-label{
	cursor:pointer;
	padding-top:2px;
	padding-bottom:2px;
	margin-right: 35px;
	display: inline-block;
	vertical-align: top;
}

/*Others*/
.control{
	margin-left: 10px;
}
.childCheckBox{
	cursor:pointer;
	margin-left: 20px;
}
.parentCheckBox{
	cursor:pointer;
	margin-left: 0px;
}
.toggle{
    cursor:pointer;
}
.google-map-control{
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	font-size: 13px;
	padding: 5px;
}

.clickable use:hover, path:hover{
    cursor:pointer;
	fill-opacity:0.6;
	stroke-opacity:0.6;
	fill:white;
}
#defs{
	display: none;
}
.center{
	display: none;
}

.transit {
    display:none;
}
.transit + label {
    float:left;
    cursor:pointer;
    height:auto;
	width:24.6%;
	margin-right:-1px;
	background-color:#EFEFEF;
	border:1px solid #999;
	overflow:visible;
    display:inline-block;
	font-size: initial;
}
.transit + label > img{
	width: 100%;
}
.transit:checked + label {
	background-color:#99CCFF;
	color:#fff;
}
input{	
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* prevents scrollbars on infowindows */
.gm-style-iw {
    /*overflow:hidden!important;
    white-space: nowrap;*/
}
div.disclaimer{
	background-color: #fff1a8;
	padding: 5px 6px;
	border-style: hidden;
	border-radius: 4px;
}
.link-box{
	padding-top: 0px !important;
	white-space:normal;
	margin-top: 10px;
}
#icon-scale-div{
	margin-top: 3px;
	margin-bottom: 63px;
}


#buttons{
	position: absolute;
	z-index: 900;
}


/*@keyframes bounce {
    0%   {
    	-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
    }
    50%  {
    	-ms-transform: scale(1.25,1.25);
		-webkit-transform: scale(1.25,1.25);
		transform: scale(1.25,1.25);
    }
    100% {
    	-ms-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
    }
}*/

@keyframes bounce {
	0%, 20%, 40%, 60%, 100% {
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	30% {
		-ms-transform: translateX(-15px);
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px);
	}
	50% {
		-ms-transform: translateX(-7px);
		-webkit-transform: translateX(-7px);
		transform: translateX(-7px);
	}
}

#layer-toggle{
    cursor:pointer;
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(icons/layers.png) -1px -1px;
}
#layer-toggle:hover, #layer-toggle:active{
    background: url(icons/layers.png) -64px -1px;
}

#directions-toggle{
    cursor:pointer;
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -74px -65px;
}
#directions-toggle:hover, #directions-toggle:active{
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -138px -65px;
}

#print-button{
    cursor:pointer;
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(icons/printer.png) -1px -1px;
}
#print-button:hover, #print-button:active{
    background: url(icons/printer.png) -67px -1px;
}

#where-am-i{
    cursor:pointer;
	height: 60px;
	width: 60px;
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -74px 0;
    margin-right:7px;
}
#where-am-i:hover{
    background: url(https://maps.gstatic.com/mapfiles/maps_lite/images/mobile9.png) -138px 0;
}

#label-button{
    cursor:pointer;
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(icons/label.png) -1px -1px;
}
#label-button:hover{
    background: url(icons/label.png) -67px -1px;
}

#label-button.label-hidden{
    cursor:pointer;
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(icons/label-hidden.png) -1px -1px;
}
#label-button.label-hidden:hover{
    background: url(icons/label-hidden.png) -67px -1px;
}

#label-button.label-half{
    cursor:pointer;
	height: 60px;
	width: 60px;
    margin-right:7px;
    background: url(icons/label-half.png) -1px -1px;
}
#label-button.label-half:hover{
    background: url(icons/label-half.png) -67px -1px;
}

#close-control{
    cursor:pointer;
	padding: 0px;
	position: absolute;
	top: 2px;
	right: 20px;
	z-index: 900;
	height: 24px;
	width: 24px;
    background: url(icons/close.png);
}

.icon-scale {
    display:none;
}
.icon-scale + label {
    float:left;
    cursor:pointer;
    height:3em;
	width:32.8%;
	margin-right:-1px;
	background-color:#EFEFEF;
	border:1px solid #999;
	overflow:hidden;
    display:inline-block;
	font-size: initial;
}
.icon-scale:checked + label {
	background-color:#99CCFF;
	color:#fff;
}

.adp-directions, .adp-placemark{
	width: 100%;
}

.tutorial-text{
	border-radius: 2px;
	background-color: blue;
	padding: 4px;
	display: inline-block;
	position: absolute;
	right: 65px;
	text-align: right;
	white-space: nowrap;
	font-weight: bold;
	color: white;
	font-size: medium;
	top: 17px;
}

#tutorial-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 70px;
}